<% feedbacks = content.ingredient %>
<% if feedbacks.present? %>
    <% feedbacks.each do |feedback| %>
        <div class="media">
          <div class="media-body">
            <h3 class="media-heading"><%= feedback.name %></h3>
              <%= feedback.text %>
            <br>
          </div>
        </div>
        <hr>
    <% end %>
<% else %>
    <p>No feedbacks</p>
<% end %>