<% cache(content) do %>
    <div class="content_editor">
      <label><%= t('alchemy.essences.feedback.post_to') %></label>
      <%= text_field_tag(
        content.form_field_name(:post_to),
        content.essence.post_to,
        class: ['thin_border', html_options[:class]].join(' '),
        style: html_options[:style]
      ) %>
    </div>
<% end %>